/*ex3*/

*{box-sizing:border-box;}

/*背景*/
body{
    background:url("back-cube.jpg"); 
    background-size: cover;
    font-family: Arial;
}
.playgropud{
    margin: 50px auto;
    width: 85%;
}

.col {
    display: inline-block;
    width: 25%;
    height: 400px;
    margin: 20px 4%;
/*    background: yellow;*/
}
.topbox{
    display: flex;
    width: 100%;
    height: 50%;
    background: lightslategray;
    color: white;
}
.inner{ 
     width: 80%;
     height: 85%;
     margin:auto;
/*     background: white; */
}   
.plan{
     height: 40px;
     margin:0px;
     font-weight: 700;
     text-align:center;
     line-height: 40px;
     font-size: 18px;
/*     background: yellow; */
}
.price{
     height: 70px;
     text-align: center;
     line-height: 70px;
     margin: 10px 0 25px;
     font-weight: 700;
/*     background: red;*/
}
.price span{
    font-size: 70px;
    font-weight: 800;
}
.price::before{
     content: '$';
/*     font-size: 16px;*/
     vertical-align: top;
}
.price::after{
    content: '/MO.';
    font-size: 14px;
    vertical-align:bottom;
}  
.free{
     height: 25px;
     width: 150px;
     text-align: center;
     line-height: 25px;
     font-size: 12px;
     border: 1px solid white;
     border-radius: 4px;
     margin: 0 auto;
/*     background: orange; */
}

.bottombox{
    display: flex;
    width: 100%;
    height: 50%;
    background: #D1E9E9;
    color: lightslategray;
    font-size: 12px;
}

.list{
     width: 50%;
     height: 30px;
     margin: 10px auto 0px;
     line-height: 30px;
     border-bottom: 1px solid lightgray;
}



















